[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
sqlalchemy = "*"
tweepy = "*"
spacy = "*"
scikit-learn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
